/* pt sans */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/* great vibes font */
 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'PT Sans', sans-serif;
    background: #f5f5f5;
}
body,html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
header {
    height: 65vh;
    background: url(https://lh3.googleusercontent.com/p/AF1QipN42QddTPqhBOiIMBKcEq-O__PtsHDaUW2ioFPD=s680-w680-h510);
    background-position: center;
    background-attachment: initial;
    background-repeat: no-repeat;
    background-size: cover;
}
header:before {
    content: " ";
    z-index: 1;
    display: block;
    position: absolute;
    /* top: 6.55rem;  */
    height: 65vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.header-text {
    font-family: 'Great Vibes', cursive;
    color: white;
    font-size: 2.2rem;
    text-align: center;
    z-index: 3;
    position: relative;
    top: 5rem;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  #f5f5f5;
    z-index: 2;
    position: relative;
}
.logo-nav {

}
.links-nav{
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

.under-header{
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-under{
    background-color: rgb(156, 0, 0);
    color: white;
    width: 90%;
    margin: 5px;
    border: solid 1px white;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 3px;
}
.button-under:hover{
    cursor: pointer;
    background-color: rgb(165, 0, 0);
}
.under-icon{
    font-size: 1.6rem;
    text-align: center;
    margin-right: 0.2rem;
}
.maps-holder {
    position: absolute;
    top: 30vh;
    left: 10%;
    right: 10%;
    background-color: rgba(37, 37, 37, 0.7);
    z-index: 3;
    height: 15rem;
    width: 80%;
    display: none;
    margin: auto;

}
.maps-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.map-button {
    width: 80%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2rem;
    background-color: rgb(156, 0, 0);
    color: white;
    border: solid white 1px;
    position: relative;
    top: 4rem;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}
.google-button:hover{
    background-color: lightgreen;
}
.apple-button:hover{
    background-color: lightslategray;
}
h3{
    color: lavenderblush;
    text-align: center;
    font-size: 1.3rem;
    position: relative;
    top: 2rem;
}
.cancel-map {
    color: white;
    position: absolute;
    right: 0;
    font-size: 2rem !important;
    cursor: pointer;
}
.map-button > a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    align-self: center;
    display: inline;
}




.hours-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
}
#day {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}
#open {
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
}
.hours-list{
    margin: auto;
    padding: 0;
}
.hl{
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.2rem;
}

.contact-container {
    margin-bottom: 3rem;
}
.contact-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
}
.contact-p{
    text-align: center;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    font-size: 1.1rem;
}
.contact-button{
    background-color: rgb(156, 0, 0);
    color: white;
    width: 90%;
    margin: 5px;
    border: solid 1px white;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    align-self: center;
    justify-self: center;
}
.a-contact {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    align-content: center;
    text-decoration: none;
    justify-self: center;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.review-container{
    width: 95%;
    border-radius: 1rem;
    background-color: peachpuff;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}
.review-icon {
    color: rgb(170, 0, 0);
    font-size: 3rem !important;
}
.yelp {
    width: 2.6rem;
    justify-self: flex-end;
    position: relative;
}
.google {
    width: 2.6rem;
    justify-self: flex-end;
    position: relative;
}
.facebook {
    width: 2.6rem;
    justify-self: flex-end;
    position: relative;
}
#footer-h3 {
    color: rgb(36, 35, 35);
    display: block;
    margin: auto;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}