/* pt sans */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/* great vibes font */
 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'PT Sans', sans-serif;
}
body,html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
header {
    height: 80vh;
    background: url(https://lh3.googleusercontent.com/p/AF1QipN42QddTPqhBOiIMBKcEq-O__PtsHDaUW2ioFPD=s680-w680-h510);
    background-position: center;
    background-attachment: initial;
    background-repeat: no-repeat;
    background-size: cover;
}
header:before {
    content: " ";
    z-index: 1;
    display: block;
    position: absolute;
    top: 6.55rem; 
    height: 68.5vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.header-text {
    font-family: 'Great Vibes', cursive;
    color: white;
    font-size: 2.2rem;
    text-align: center;
    z-index: 3;
    position: relative;
    top: 5rem;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:   white;
    z-index: 2;
}
.logo-nav {

}
.links-nav{
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

.under-header{
    height: 10rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-under{
    background-color: darkred;
    color: white;
    width: 90%;
    margin: 5px;
    border: solid 1px white;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 3px;
}
.under-icon{
    font-size: 1.6rem;
    text-align: center;
    margin-right: 0.2rem;
}