/* pt sans */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/* great vibes font */
 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'PT Sans', sans-serif;
    /* background: #f5f5f5; */
    background-color: rgb(26, 26, 26);
}
body,html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  #f5f5f5;
    z-index: 2;
    position: relative;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.menu-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.menu-item-container {
    background-color: white;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    border-radius: 1rem;
}
h3 {
    margin-left: 0.5rem;
    text-transform: uppercase;
}


.flex-container-menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
}
.flex-container-menu {
    width: 20rem;
    height: 15rem;
    background-color: purple;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subs-container {
    background-image: url(https://lh3.googleusercontent.com/p/AF1QipOTvzTW3kteQg1VIoTvjwFN7BKC81nVMOqdByM=s680-w680-h510);
}
.wings-container {
    background-image: url(https://lh3.googleusercontent.com/p/AF1QipM5mRIG--K7BYjUmeBlYTq1q9EpNTNml-UJjA4=s680-w680-h510);
    background-position: top;
}
.rice-container {
    background-image: url(https://lh3.googleusercontent.com/p/AF1QipMR8ttaY08IgyZJbM9rv7njefZ7q8r2n1jMrRdy=s680-w680-h510);
    background-position: center;
}
.salad-container {
    background-image: url(https://lh3.googleusercontent.com/p/AF1QipO984ljERUlWBBtRExdOnBys5BZ6HT2_lvfZdfd=s680-w680-h510);
    background-position: center;
}
.sides-container {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdAyVEsmvu7XdIQ5vsVtLw3_1vl8CNG_TCBZKm1uKhk3rBn7TsSIMdrZX12fWgJE4CuDw&usqp=CAU);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.flex-container-menu:before {
    content: " ";
    z-index: 1;
    display: block;
    position: absolute;
    height: 15rem;
    width: inherit;
    background: rgba(0, 0, 0, 0.5);
}
.h2 {
    color: white;
    position: relative;
    z-index: 3;
    display: inline;
    padding: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 2rem;
    text-align: center;
}
.part {
    padding: 6.2rem;
}
.sub-div-con {
    height: 75vh;
    width: 80%;
    background-color: white;
    z-index: 5;
    position: absolute;
    top: 15%;
    left: 11.5%;
    overflow-y: scroll;
}
.sub-heading {
    text-align: center;
}
.sub-heading-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.close {
    font-size: 2rem !important;
    position: relative;
    cursor: pointer;
}
.scroll-toview {
    text-align: center;
    font-size: 0.85rem;
    text-transform: lowercase;
}
.ingredients-add {
    text-align: center;
    background-color: rgb(158, 158, 158);
    width: 80%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
}
.ingredients-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ingredients-list{
    font-size: 1.2rem;
    display: none;
    color: #107896;
    font-weight: bolder;

}
#prosub-sub-icon {
    display: block;
}
#prosub-subtract-container {
    display: none;
    align-items: center;
    justify-content: center;
}


#master-sub-container-parent {
    z-index: 1;
}
.price-prosub, .price-mastersub, .price-grinder {
    font-size: 1.25rem;
    margin-top: 1.2rem;
    margin-left: 0.5rem;
}
#mastersub-subtract {
    display: none;
}





























footer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.review-container{
    width: 95%;
    border-radius: 1rem;
    background-color: peachpuff;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}
.yelp {
    width: 2.6rem;
    justify-self: flex-end;
    position: relative;
}
.google {
    width: 2.6rem;
    justify-self: flex-end;
    position: relative;
}
.facebook {
    width: 2.6rem;
    justify-self: flex-end;
    position: relative;
}
#footer-h2 {
    text-align: center;
    color: lightgrey;
    display: block;
    margin: auto;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    position: relative;
    top: 1.5rem;
}